<div style="width: 100%; display: flex; margin-top: 12px;">
  <div style="flex: 0.33;" >
    <strong>{{address.start | date:'ddMMMyyyy'}} - {{address.end | date:'ddMMMyyyy'}}</strong>
  </div>
  <div style="flex: 0.33">
    <address>
      {{address.street}}<br>
      {{address.zipCode}}<br>
      {{address.state}}<br>
      {{address.country}}<br>
    </address>
  </div>
  <div style="flex: 0.33;">
    <app-social-address-map [address]="address" style="height: 200px;"></app-social-address-map>
  </div>
</div>

