<form>
  <fieldset [disabled]="readonly">
    <mat-form-field style="width: 100%;">
      <input placeholder="Street" [(ngModel)]="address.street" name="street" type="text"
             matInput>
      <button *ngIf="! readonly" matSuffix mat-icon-button (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="! readonly" matSuffix mat-icon-button (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input placeholder="Zip Code" [(ngModel)]="address.zipCode" name="zipCode" type="text"
             matInput>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input placeholder="City" [(ngModel)]="address.city" name="city" type="text"
             matInput>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input placeholder="State" [(ngModel)]="address.state" name="state" type="text"
             matInput>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input placeholder="Country" [(ngModel)]="address.country" name="country" type="text"
             matInput>
    </mat-form-field>


    <div style="display: flex;">
      <mat-form-field style="flex: 0.5;">
        <input placeholder="Start" matInput [matDatepicker]="start" [(ngModel)]="address.start" name="start">
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="flex: 0.5">
        <input placeholder="End" matInput [matDatepicker]="end" [(ngModel)]="address.end" name="end">
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>
    </div>


  </fieldset>
</form>
