<form>
  <fieldset [disabled]="readonly">
    <md-form-field style="width: 100%;">
      <input placeholder="Street" [(ngModel)]="address.street" name="street" type="text"
             mdInput>
      <button *ngIf="! readonly" mdSuffix md-icon-button (click)="onDelete()">
        <md-icon>delete</md-icon>
      </button>
      <button *ngIf="! readonly" mdSuffix md-icon-button (click)="onAdd()">
        <md-icon>add</md-icon>
      </button>
    </md-form-field>

    <md-form-field style="width: 100%;">
      <input placeholder="Zip Code" [(ngModel)]="address.zipCode" name="zipCode" type="text"
             mdInput>
    </md-form-field>

    <md-form-field style="width: 100%;">
      <input placeholder="City" [(ngModel)]="address.city" name="city" type="text"
             mdInput>
    </md-form-field>

    <md-form-field style="width: 100%;">
      <input placeholder="State" [(ngModel)]="address.state" name="state" type="text"
             mdInput>
    </md-form-field>

    <md-form-field style="width: 100%;">
      <input placeholder="Country" [(ngModel)]="address.country" name="country" type="text"
             mdInput>
    </md-form-field>


    <div style="display: flex;">
      <md-form-field style="flex: 0.5;">
        <input placeholder="Start" mdInput [mdDatepicker]="start" [(ngModel)]="address.start" name="start">
        <md-datepicker-toggle mdSuffix [for]="start"></md-datepicker-toggle>
        <md-datepicker #start></md-datepicker>
      </md-form-field>

      <md-form-field style="flex: 0.5">
        <input placeholder="End" mdInput [mdDatepicker]="end" [(ngModel)]="address.end" name="end">
        <md-datepicker-toggle mdSuffix [for]="end"></md-datepicker-toggle>
        <md-datepicker #end></md-datepicker>
      </md-form-field>
    </div>


  </fieldset>
</form>
