<form>
  <fieldset>
    <meld-google-maps-autocomplete placeholder="Name" name="name" [(ngModel)]="school.name"></meld-google-maps-autocomplete>


    <mat-form-field style="width: 100%;">
      <input placeholder="Course" [(ngModel)]="school.course" name="course" type="text"
             matInput>
    </mat-form-field>


    <div style="display: flex; width: 100%">
      <div style="width: 50%">
        <mat-form-field style="width: 100%;">
          <mat-select name="startSemester" placeholder="Start Semester" [(ngModel)]="school.start.semester">
            <mat-option *ngFor="let semester of semesters" [value]="semester">
              {{ semester }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <input matInput type="number" name="startYear" placeholder="Start Year" [(ngModel)]="school.start.year">
        </mat-form-field>
      </div>

      <div style="width: 50%">
        <mat-form-field style="width: 100%;">
          <mat-select name="endSemester" placeholder="End Semester" [(ngModel)]="school.end.semester">
            <mat-option *ngFor="let semester of semesters" [value]="semester">
              {{ semester }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <input matInput type="number" name="startYear" placeholder="End Year" [(ngModel)]="school.end.year">
        </mat-form-field>
      </div>

    </div>

    <mat-checkbox [(ngModel)]="school.tillNow" name="tillNow">Till Now</mat-checkbox>


  </fieldset>
</form>
