
<div style="width: 640px; height: 480px; position:relative">
  <img  src="{{image | meldBinaryImage}}" style="width: 100%">

  <mat-form-field style="width: 100%; position: absolute; bottom: 0">
    <meld-file-container [placeholder]="'Image'">
      <input #input="InputDirective" type="file" name="image" [(ngModel)]="image">
    </meld-file-container>
    <button matSuffix mat-icon-button (click)="input.clear()"><mat-icon>backspace</mat-icon></button>
    <button matSuffix mat-icon-button (click)="input.click()"><mat-icon>present_to_all</mat-icon></button>
  </mat-form-field>

</div>
