<div class="container-fluid" style="margin-top: 12px;">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar style="width: 48px; height: 48px;" [src]="post.avatar || 'assets/user.png'">
          <mat-card-title style="white-space: nowrap;"><strong>{{post.name}}</strong></mat-card-title>
          <mat-card-subtitle>{{post.category}}</mat-card-subtitle>
          <div style="width: 100%"></div>
          <span style="text-align: right;">{{post.time}}</span>
          <button style="margin-top: -12px;" mat-icon-button *ngIf="post.links | meldLink:'read';" (click)="onPostClick()">
            <mat-icon>assignment</mat-icon>
          </button>
        </mat-card-header>

        <div [ngSwitch]="post.type">
          <app-meld-text-item *ngSwitchCase="'text'" [post]="post"></app-meld-text-item>
          <app-meld-image-item *ngSwitchCase="'image'" [post]="post"></app-meld-image-item>
          <app-meld-youtube-item *ngSwitchCase="'youtube'" [post]="post"></app-meld-youtube-item>
          <app-meld-photo-item *ngSwitchCase="'photo'" [post]="post"></app-meld-photo-item>
          <app-meld-link-item *ngSwitchCase="'link'" [post]="post"></app-meld-link-item>
        </div>

        <mat-card-content>
          <div style="display: flex;">
            <button mat-icon-button [class.meld-posts-button-active]="plusOneButtonActive()"
                    style="margin-right: 10px;" class="meld-posts-button"
                    (click)="onPlusOneClick()">
              <mat-icon>plus_one</mat-icon>
            </button>
            <span style="line-height: 40px;">{{post.likes.length}}</span>
            <span style="line-height: 40px; margin-right: 10px; flex-grow: 1;text-align: right;">{{post.comments.length}}</span>
            <button mat-icon-button [class.meld-posts-button-active]="commentsVisible"
                    (click)="commentsVisible = ! commentsVisible">
              <mat-icon>comment</mat-icon>
            </button>
          </div>

          <div *ngIf="commentsVisible" style="width: 100%; margin-top: 12px;">

            <hr *ngIf="post.comments.length > 0" style="margin-top: 0"/>

            <div *ngFor="let comment of post.comments">
              <app-meld-comment [comment]="comment"></app-meld-comment>
            </div>

            <div style="display: flex">
              <img class="avatar" [src]="user.avatar.url">
              <app-meld-editor style="border-style: none; flex-grow: 1; line-height: 40px; margin-left: 10px;"
                               [(ngModel)]="comment" name="text"
                               [placeholder]="'Add Comment...'"></app-meld-editor>
            </div>

            <div style="display: flex">
              <div style="flex: 1"></div>
              <button mat-button style="color: dimgrey;" [disabled]="comment.length == 0" (click)="onCommentPost()">
                Post
              </button>
            </div>


          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
