<div style="font-size: smaller;">
  <strong>{{school.visitStart.year}} {{school.visitStart.semester | meldEnum:semesters}} - </strong>
  <strong *ngIf="! school.tillNow">{{school.visitEnd.year}} {{school.visitEnd.semester | meldEnum:semesters}}</strong>
  <strong *ngIf="school.tillNow">Till Now</strong>
  <button type="button"  mat-icon-button style="margin-top: -12px" (click)="open()">
    <mat-icon>room</mat-icon>
  </button>
</div>
<div>
  <div>{{school.name}}</div>
  <div>
    <div>{{school.course}}</div>
  </div>
</div>
