<div style="font-size: smaller;">
  <strong>{{school.start.year}} {{school.start.semester | meldEnum:semesters}} - </strong>
  <strong *ngIf="! school.tillNow">{{school.end.year}} {{school.end.semester | meldEnum:semesters}}</strong>
  <strong *ngIf="school.tillNow">Till Now</strong>

  <button mat-icon-button style="margin-top: -12px" (click)="open()">
    <mat-icon>room</mat-icon>
  </button>
</div>
<div>
  <div>{{school.location.name}}</div>
  <div>
    <div>{{school.course}}</div>
  </div>
</div>
