<!DOCTYPE html>
<div style="align-items: center; display: flex; justify-content: center; height: 100%">
  <mat-card style="margin: 10px; text-align: left">
    <mat-card-content>
      <form>
        <fieldset>
          <legend>Please Sign In</legend>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Name" [(ngModel)]="login.email" name="name">
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Password" type="password" [(ngModel)]="login.password" name="password">
          </mat-form-field>
        </fieldset>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onSubmit()">Sign In</button>
    </mat-card-actions>
  </mat-card>
</div>

