<!DOCTYPE html>
<div class="container-fluid" style="margin-top: 12px;">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar style="width: 48px; height: 48px;" [src]="user.avatar || 'assets/user.png'">
          <mat-card-title style="white-space: nowrap;">{{user.firstName}} {{user.lastName}}</mat-card-title>
          <mat-card-subtitle>
            <app-categories-select (onClickChange)="open(post)" [(ngModel)]="post.category"></app-categories-select>
          </mat-card-subtitle>
          <div style="width: 100%"></div>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item [routerLink]="['/channel','meld','post','text']"> Text </button>
            <button mat-menu-item [routerLink]="['/channel','meld','post','image']"> Image </button>
            <button mat-menu-item [routerLink]="['/channel','meld','post','youtube']"> YouTube </button>
            <button mat-menu-item [routerLink]="['/channel','meld','post','photo']"> Photo </button>
            <button mat-menu-item [routerLink]="['/channel','meld','post','link']"> Link </button>
          </mat-menu>

          <button *ngIf="! post.id" mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-header>

        <mat-card-content>
          <ng-content></ng-content>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button *ngIf="post.links | meldLink:'save'" (click)="onSave()">Post</button>
          <button mat-button *ngIf="post.links | meldLink:'update'" (click)="onUpdate()">Update</button>
          <button mat-button *ngIf="post.links | meldLink:'delete'" (click)="onDelete()">Delete</button>
          <button mat-button (click)="onCancel()">Cancel</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
