<div>
  <div style="display: flex; font-size: smaller;">
    <strong>{{address.start | date:'ddMMMyyyy'}} - </strong>
    <strong *ngIf="! address.tillNow">{{address.end | date:'ddMMMyyyy'}}</strong>
    <strong *ngIf="address.tillNow">Till Now</strong>

    <button mat-icon-button style="margin-top: -12px" (click)="open()">
      <mat-icon>room</mat-icon>
    </button>

  </div>
  <div>
    <address  >
      {{address.location.street}} {{address.location.streetNumber}}<br>
      {{address.location.zipCode}}
      {{address.location.state}}
      {{address.location.country}}
    </address>
  </div>
</div>
