<!DOCTYPE html>
<mat-card style="margin: 12px; height: calc(100% - 24px);">
  <div style="display: flex; align-items: center;">
    <mat-input-container style="width: 100%">
      <input matInput placeholder="Search" ngModel #searchBox="ngModel">
    </mat-input-container>
    <button type="button"  mat-raised-button *ngIf="links | meldLink:'save'" style="width: 100px;" raised (click)="onCreate()">Create
    </button>
  </div>
  <meld-table #grid [rowHeight]="29" [items]="groups" (selectItemChange)="onSelection($event)" style="height: calc(100% - 48px)">
    <meld-colgroup>
      <meld-col [width]="100"></meld-col>
      <meld-col [width]="100"></meld-col>
    </meld-colgroup>
    <meld-thead>
      <meld-tr>
        <meld-td>
          <ng-template><strong>Name</strong></ng-template>
        </meld-td>
        <meld-td>
          <ng-template><strong>Members</strong></ng-template>
        </meld-td>
      </meld-tr>
    </meld-thead>
    <meld-tbody>
      <meld-tr>
        <meld-td>
          <ng-template let-group>{{group.name}}</ng-template>
        </meld-td>
        <meld-td>
          <ng-template let-group>{{group.roles}}</ng-template>
        </meld-td>
      </meld-tr>
    </meld-tbody>
  </meld-table>
</mat-card>
