<form>
  <fieldset [disabled]="readonly">
    <mat-form-field style="width: 100%;">
      <input placeholder="Name" [(ngModel)]="school.name" name="name" type="text"
             matInput>
      <button *ngIf="! readonly" matSuffix mat-icon-button (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="! readonly" matSuffix mat-icon-button (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input placeholder="Course" [(ngModel)]="school.course" name="course" type="text"
             matInput>
    </mat-form-field>


    <div style="display: flex;">
      <mat-form-field style="flex: 0.5;">
        <input placeholder="Start" matInput [matDatepicker]="start" [(ngModel)]="school.start" name="start">
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="flex: 0.5">
        <input placeholder="End" matInput [matDatepicker]="end" [(ngModel)]="school.end" name="end">
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>
    </div>


  </fieldset>
</form>
