<div style="padding: 10px;">
  <div class="container-fluid" style="margin-top: 12px;">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <meld-tabbar>
          <meld-tab [label]="'Find'"></meld-tab>
          <meld-tab [label]="'Categories'"></meld-tab>
          <meld-tab [label]="'Following'"></meld-tab>
        </meld-tabbar>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <mat-card>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

