<!DOCTYPE html>

<link href="/materialize/extensions/HTMLElement.html" rel="imports">

<style>

    mat-panel {
        display: block;
    }

    mat-panel div.container {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
        0 2px 2px 0 rgba(0, 0, 0, .14),
        0 1px 5px 0 rgba(0, 0, 0, .12);
        margin: 10px;
        padding: 10px;
    }

</style>

<template viewChildren>
    <div class="container" content></div>
</template>

<script>

    (imports, template, callbacks) => {

        load(callbacks, imports, () => {

            class MatPanel extends MaterializeHTMLElement {

                constructor() {
                    super(template);
                }

            }

            customElements.define("mat-panel", MatPanel);

        })
    }

</script>