
<img style="display : block; width: 400px;" [src]="photo.image | meldBinaryImage">
<mat-form-field style="display : block; width: 400px;">
  <meld-file-container [placeholder]="'Image'">
    <input #image="InputDirective" type="file" name="image" [(ngModel)]="photo.image">
  </meld-file-container>
  <button matSuffix mat-icon-button (click)="image.clear()"><mat-icon>backspace</mat-icon></button>
  <button matSuffix mat-icon-button (click)="image.click()"><mat-icon>present_to_all</mat-icon></button>
</mat-form-field>
<div>
  <button mat-button (click)="save()">Save</button>
  <button mat-button (click)="close()">Cancel</button>
</div>
