<form>
  <fieldset [disabled]="readonly">
    <div style="display: flex; align-items: baseline;">
      <div style="vertical-align: bottom">
        <i class="material-icons">chat</i>
      </div>

      <md-select placeholder="Type" [(ngModel)]="chat.type" name="type">
        <md-option *ngFor="let type of types" [value]="type.code">{{ type.name }}</md-option>
      </md-select>

      <md-form-field style="margin-left: 6px; flex: 1">
        <input placeholder="Name" [(ngModel)]="chat.name" name="name" type="text"
               mdInput>
        <button *ngIf="! readonly" mdSuffix md-icon-button (click)="onDelete()">
          <md-icon>delete</md-icon>
        </button>
        <button *ngIf="! readonly" mdSuffix md-icon-button (click)="onAdd()">
          <md-icon>add</md-icon>
        </button>
      </md-form-field>
    </div>
  </fieldset>
</form>
