<!DOCTYPE html>
<div class="container-fluid" style="margin-top: 12px;">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar style="width: 48px; height: 48px;" [src]="user.avatar || 'assets/user.png'">
          <mat-card-title style="white-space: nowrap;">{{user.firstName}} {{user.lastName}}</mat-card-title>
          <mat-card-subtitle>
            <div (click)="open(post)">
                                <span *ngIf="post.category; else noCategory">
                                   {{post.category.name}}
                                </span>
              <ng-template #noCategory>
                public
              </ng-template>
            </div>
          </mat-card-subtitle>
          <div style="width: 100%"></div>
          <mat-menu #appMenu="matMenu">
            <button type="button"  mat-menu-item [routerLink]="['/channel','meld','post','text']"> Text </button>
            <button type="button"  mat-menu-item [routerLink]="['/channel','meld','post','image']"> Image </button>
            <button type="button"  mat-menu-item [routerLink]="['/channel','meld','post','youtube']"> YouTube </button>
            <button type="button"  mat-menu-item [routerLink]="['/channel','meld','post','photo']"> Photo </button>
            <button type="button"  mat-menu-item [routerLink]="['/channel','meld','post','link']"> Link </button>
          </mat-menu>

          <button type="button"  *ngIf="! post.id" mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-header>

        <mat-card-content>
          <ng-content></ng-content>
        </mat-card-content>

        <mat-card-actions>
          <button type="button"  mat-button *ngIf="post.links | meldLink:'save'" (click)="onSave()">Post</button>
          <button type="button"  mat-button *ngIf="post.links | meldLink:'update'" (click)="onUpdate()">Update</button>
          <button type="button"  mat-button *ngIf="post.links | meldLink:'delete'" (click)="onDelete()">Delete</button>
          <button type="button"  mat-button (click)="onCancel()">Cancel</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
