<fieldset [formGroup]="chat">
  <div style="display: flex; align-items: baseline;">
    <div style="vertical-align: bottom">
      <i class="material-icons">chat</i>
    </div>

    <mat-select required style="width: 64px;" placeholder="Type" formControlName="type" name="type">
      <mat-option *ngFor="let type of types" [value]="type.code">{{ type.name }}</mat-option>
    </mat-select>

    <mat-form-field style="margin-left: 6px; flex: 1">
      <input required placeholder="Name" formControlName="name" type="text"
             matInput>
      <button *ngIf="! readonly" matSuffix mat-icon-button (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="! readonly" matSuffix mat-icon-button (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </div>
</fieldset>
