<div style="padding: 10px;">
  <div class="container-fluid">
    <div *ngFor="let address of places.addresses | addressesSort"  class="row justify-content-center" style="margin: 12px;">
      <div class="col-md-5">
          <app-social-address-view [address]="address"></app-social-address-view>
      </div>
      <div class="col-md-5">
        <app-social-address-map [address]="address"></app-social-address-map>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div>
          <button mat-button (click)="onEdit()">Edit</button>
          <button mat-button (click)="onCancel()">Chancel</button>
        </div>
       </div>
    </div>

  </div>
</div>


