<!DOCTYPE html>
<div style="padding: 10px;">
  <mat-card style="width: 100%;">
    <mat-card-content>
      <form>

        <fieldset>
          <legend>Group</legend>
          <mat-input-container style="width: 100%">
            <input matInput placeholder="Name" [(ngModel)]="group.name" name="name"
                   minlength="3" maxlength="100" required #name="ngModel" #input>
          </mat-input-container>
        </fieldset>


        <fieldset style="max-height: 400px;">
          <legend>Roles</legend>
          <meld-table name="roles" #grid [items]="roles" [multiSelect]="true" [menu]="false" [(ngModel)]="group.roles">
            <meld-colgroup>
              <meld-col [width]="100"></meld-col>
            </meld-colgroup>
            <meld-thead>
              <meld-tr>
                <meld-td>
                  <ng-template>Name</ng-template>
                </meld-td>
              </meld-tr>
            </meld-thead>
            <meld-tbody>
              <meld-tr>
                <meld-td>
                  <ng-template let-role>{{role.name}}</ng-template>
                </meld-td>
              </meld-tr>
            </meld-tbody>
          </meld-table>
        </fieldset>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="button"  mat-button (click)="onSave()" *ngIf="group.links | meldLink:'save'">Save</button>
      <button type="button"  mat-button (click)="onUpdate()" *ngIf="group.links | meldLink:'update'">Update</button>
      <button type="button"  mat-button (click)="onDelete()" *ngIf="group.links | meldLink:'delete'">Delete</button>
      <button type="button"  mat-button (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
