<!DOCTYPE html>
<div style="height: 100vh;">
  <mat-toolbar>
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>list</mat-icon>
    </button>
    <span class="title" style="flex: 1 1 auto;">Meld</span>
    <button mat-icon-button *ngIf="links | meldLink:'login';" routerLink="usercontrol/login">
      <mat-icon>lock_open</mat-icon>
    </button>
    <button mat-icon-button *ngIf="links | meldLink:'logout';" routerLink="usercontrol/logout">
      <mat-icon>lock</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container style="height: calc(100% - 64px);">
    <mat-sidenav [mode]="sideNavOption" [opened]="sideNavShow" style="width: 200px; background-color: #4e5664">

      <div style="padding: 12px 0 12px 0;">

        <a class="link" routerLink="/">
          <i style="margin-left :24px; vertical-align: middle;" class="material-icons">home</i>
          <span style="margin-left: 12px;"><strong>Home</strong></span>
        </a>

        <a class="link" routerLink="/usercontrol/registration">
          <i style="margin-left :24px; vertical-align: middle;" class="material-icons">home</i>
          <span style="margin-left: 12px;"><strong>Registration</strong></span>
        </a>

        <a class="link" *ngIf="links | meldLink:'profile';" routerLink="social/profile" routerLinkActive="active">
          <i style="margin-left :24px; vertical-align: middle;" class="material-icons">account_circle</i>
          <span style="margin-left: 12px;"><strong>Profile</strong></span>
        </a>

        <a class="link" *ngIf="links | meldLink:'people';" routerLink="social/people" routerLinkActive="active">
          <i style="margin-left :24px; vertical-align: middle;" class="material-icons">accessibility</i>
          <span style="margin-left: 12px;"><strong>People</strong></span>
        </a>

        <a class="link" *ngIf="links | meldLink:'meld';" routerLink="channel/meld/posts" routerLinkActive="active">
          <i style="margin-left :24px; vertical-align: middle;" class="material-icons">android</i>
          <span style="margin-left: 12px;"><strong>Meld</strong></span>
        </a>

        <a class="link" *ngIf="links | meldLink:'users';" routerLink="usercontrol/users" routerLinkActive="active">
          <i style="margin-left :24px; vertical-align: middle;" class="material-icons">face</i>
          <span style="margin-left: 12px;"><strong>Users</strong></span>
        </a>

        <a class="link" *ngIf="links | meldLink:'groups';" routerLink="usercontrol/groups" routerLinkActive="active">
          <i style="margin-left :24px; vertical-align: middle;" class="material-icons">group_work</i>
          <span style="margin-left: 12px;"><strong>Groups</strong></span>
        </a>

        <a class="link" *ngIf="links | meldLink:'roles';" routerLink="usercontrol/roles" routerLinkActive="active">
          <i style="margin-left :24px; vertical-align: middle;" class="material-icons">perm_identity</i>
          <span style="margin-left: 12px;"><strong>Roles</strong></span>
        </a>

      </div>

    </mat-sidenav>

    <section>
      <router-outlet></router-outlet>
    </section>

  </mat-sidenav-container>
</div>

