app-root {
  display: block;
}

app-root .link {
  margin-bottom: 12px;
  display: block;
  line-height: 32px;
  text-decoration: none;
  color: white;
}

app-root .link:hover {
  text-decoration: none;
  color: #4e5664;
  background-color: #e7e7e7;
}

app-root .link.active {
  color: #4e5664;
  background-color: #e7e7e7;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
