<fieldset [disabled]="readonly">
  <legend>User</legend>

  <mat-form-field style="width: 100%;">
    <input placeholder="Name" [(ngModel)]="user.email" name="email"
           matInput minlength="3" maxlength="100"
           required #email="ngModel">
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <input placeholder="First Name" [(ngModel)]="user.firstName"
           matInput name="firstName" minlength="3" maxlength="100" required>
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <input placeholder="Last Name" [(ngModel)]="user.lastName"
           matInput name="lastName" minlength="3" maxlength="100" required>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input placeholder="Birthday" matInput [matDatepicker]="datepicker" [(ngModel)]="user.birthday" name="birthday">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>

</fieldset>

<button mat-button (click)="onSave()" *ngIf="! readonly && ! user.id">Save</button>
<button mat-button (click)="onUpdate()" *ngIf="! readonly && user.id">Update</button>
<button mat-button (click)="onEdit()" *ngIf="readonly">Edit</button>
