<div style="margin-top: 12px;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <mat-card >
          <mat-card-content>
            <mat-accordion >
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  Search
                </mat-expansion-panel-header>
                <div>
                  <mat-form-field style="width: 100%;">
                    <input name="name" matInput placeholder="Name" [(ngModel)]="name" [meldDebounce]="300" (meldModelChange)="table.refreshItems()">
                  </mat-form-field>
                  <app-social-school-select name="school" placeholder="School" [(ngModel)]="school" (ngModelChange)="table.refreshItems()" ></app-social-school-select>
                </div>
              </mat-expansion-panel>
            </mat-accordion>

            <meld-table #table [items]="users" [rowHeight]="100" style="max-height: calc(100vh - 260px); margin-top: 12px;">
              <meld-colgroup>
                <meld-col [width]="100"></meld-col>
                <meld-col [width]="200"></meld-col>
              </meld-colgroup>
              <meld-tbody>
                <meld-tr>
                  <meld-td>
                    <ng-template let-user>
                      <a
                        [routerLink]="['/social', 'profile', user.id, { outlets: { profile: ['image', 'view'] } }]">
                        <img style="width: 100px;" [src]="user.image || 'assets/user.png'">
                      </a>
                    </ng-template>
                  </meld-td>
                  <meld-td>
                    <ng-template let-user>
                      <div style="height : 100%; display: flex; align-items: center;">
                        <div>
                          <a
                            [routerLink]="['/social', 'profile', user.id, { outlets: { profile: ['image', 'view'] } }]">
                            <strong>
                              {{user.firstName}} {{user.lastName}}
                            </strong>
                          </a>
                          <br/>
                          <div (click)="open(user)">
                                <span *ngIf="user.category; else noCategory">
                                   {{user.category.name}}
                                </span>
                            <ng-template #noCategory>
                              none
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </meld-td>
                </meld-tr>
              </meld-tbody>
            </meld-table>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
