<form>
  <fieldset>
    <meld-google-maps-autocomplete placeholder="Address" name="street" [(ngModel)]="address.location"></meld-google-maps-autocomplete>

<!--
    <mat-form-field style="width: 100%;">
      <input placeholder="Zip Code" [(ngModel)]="address.zipCode" name="zipCode" type="text"
             matInput>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input placeholder="State" [(ngModel)]="address.state" name="state" type="text"
             matInput>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input placeholder="Country" [(ngModel)]="address.country" name="country" type="text"
             matInput>
    </mat-form-field>-->


    <div style="display: flex; width: 100%">
      <div style="width: 50%">
        <mat-form-field style="width: 100%">
          <meld-date #datePickerStart placeholder="Start" [(ngModel)]="address.start" name="start"></meld-date>
          <button matSuffix mat-icon-button (click)="datePickerStart.clear()"><mat-icon>delete</mat-icon></button>
          <button matSuffix mat-icon-button (click)="datePickerStart.open()"><mat-icon >today</mat-icon></button>
        </mat-form-field>
      </div>

      <div style="width: 50%">
        <mat-form-field style="width: 100%" *ngIf="! address.tillNow">
          <meld-date #datePickerEnd placeholder="End" [(ngModel)]="address.end" name="end"></meld-date>
          <button matSuffix mat-icon-button (click)="datePickerEnd.clear()"><mat-icon>delete</mat-icon></button>
          <button matSuffix mat-icon-button (click)="datePickerEnd.open()"><mat-icon >today</mat-icon></button>
        </mat-form-field>
      </div>

    </div>

    <mat-checkbox [(ngModel)]="address.tillNow" name="tillNow">Till Now</mat-checkbox>



  </fieldset>
</form>
