<fieldset [formGroup]="address">
  <legend>
    <div style="display: flex">
      <span>Address</span>
      <div style=" flex: 1;"></div>
      <button type="button"  (click)="onDelete()"  mat-icon-button><mat-icon>delete</mat-icon></button>
    </div>
  </legend>

  <mat-form-field style="width: 100%;">
    <meld-google-maps-autocomplete required placeholder="Address" formControlName="location"></meld-google-maps-autocomplete>
    <mat-hint *ngIf="address.get('location').value">
      <span *ngIf="address.get('location').value.street">{{address.get('location').value.street}},</span>
      <span *ngIf="address.get('location').value.streetNumber">{{address.get('location').value.streetNumber}},</span>
      <span *ngIf="address.get('location').value.zipCode">{{address.get('location').value.zipCode}},</span>
      <span *ngIf="address.get('location').value.state">{{address.get('location').value.state}},</span>
      <span *ngIf="address.get('location').value.country">{{address.get('location').value.country}}</span>
    </mat-hint>
  </mat-form-field>

  <div style="display: flex; width: 100%">
    <div style="width: 50%">
      <mat-form-field style="width: 100%">
        <meld-date required #datePickerStart placeholder="Start" formControlName="start"></meld-date>
        <button type="button"  matSuffix mat-icon-button (click)="datePickerStart.clear()">
          <mat-icon>delete</mat-icon>
        </button>
        <button type="button"  matSuffix mat-icon-button (click)="datePickerStart.open()">
          <mat-icon>today</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div style="width: 50%">
      <mat-form-field style="width: 100%" *ngIf="! address.controls.tillNow.value">
        <meld-date #datePickerEnd placeholder="End" formControlName="end"></meld-date>
        <button type="button"  matSuffix mat-icon-button (click)="datePickerEnd.clear()">
          <mat-icon>delete</mat-icon>
        </button>
        <button type="button"  matSuffix mat-icon-button (click)="datePickerEnd.open()">
          <mat-icon>today</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>

  <mat-checkbox formControlName="tillNow">Till Now</mat-checkbox>


</fieldset>
