<fieldset [formGroup]="company">
  <legend>
    <div style="display: flex">
      <span>Company</span>
      <div style=" flex: 1;"></div>
      <button type="button"  (click)="onDelete()"  mat-icon-button><mat-icon>delete</mat-icon></button>
    </div>
  </legend>

  <mat-form-field style="width: 100%;">
    <meld-google-maps-autocomplete required formControlName="location" placeholder="Name"></meld-google-maps-autocomplete>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <input required placeholder="Title" formControlName="title" type="text"
           matInput>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <input placeholder="Description" formControlName="description" type="text"
           matInput>
  </mat-form-field>

  <div style="display: flex; width: 100%">
    <div style="width: 50%">
      <mat-form-field style="width: 100%">
        <meld-date required #datePickerStart placeholder="Start" formControlName="start"></meld-date>
        <button type="button"  matSuffix mat-icon-button (click)="datePickerStart.clear()">
          <mat-icon>delete</mat-icon>
        </button>
        <button type="button"  matSuffix mat-icon-button (click)="datePickerStart.open()">
          <mat-icon>today</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div style="width: 50%">
      <mat-form-field style="width: 100%" *ngIf="! company.controls.tillNow.value">
        <meld-date required #datePickerEnd placeholder="End" formControlName="end"></meld-date>
        <button type="button"  matSuffix mat-icon-button (click)="datePickerEnd.clear()">
          <mat-icon>delete</mat-icon>
        </button>
        <button type="button"  matSuffix mat-icon-button (click)="datePickerEnd.open()">
          <mat-icon>today</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>

  <mat-checkbox formControlName="tillNow" >Till Now</mat-checkbox>

</fieldset>
