<fieldset>
  <legend>Education</legend>

  <div *ngFor="let school of education.schools | schoolSort" style="margin-bottom: 12px;">
    <app-social-school-form [school]="school" [readonly]="readonly"
                           (deleteClick)="onDeleteSchool($event)"
                           (addClick)="onCreateSchool()"></app-social-school-form>
    <hr/>
  </div>
  <div *ngIf="education.schools.length === 0" style="line-height: 48px; text-align: center;">
    No Education.
  </div>

  <button mat-button *ngIf="! readonly && ! education.id" (click)="onSave()">Save</button>
  <button mat-button *ngIf="! readonly && education.id" (click)="onUpdate()">Update</button>
  <button mat-button *ngIf="! readonly" (click)="onCancel()">Chancel</button>
  <button mat-button *ngIf="readonly" (click)="onEdit()">Edit</button>


</fieldset>

